/* Start Global CSS For Whole Page*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap');

:root{
    --springMaroon:rgba(94, 51, 250, 0.548);
}

*{
    font-family: 'Nunito', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border:none;
    text-transform: capitalize;
    transition: all .2s linear;
}

*::selection{
    background:var(--springMaroon);
    color:#333;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

html::-webkit-scrollbar{
    width:1.4rem;
}

html::-webkit-scrollbar-track{
    background:#222;
}

html::-webkit-scrollbar-thumb{
    background:var(--springMaroon);
}

body{
    background:hsl(0, 95%, 43%);
    overflow-x: hidden;
    padding-left: 35rem;
    background-color: red;
}

section{
    min-height: 100vh;
    padding:1rem;
}
/* End Global CSS For Whole Page*/

/* Start Button CSS*/
.btn{
    padding:.7rem 3rem;
    background:#333;
    color:#fff;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 2rem;
    border-radius: 5rem;
}

.btn i{
    padding:0 .5rem;
    font-size: 1.8rem;
}

.btn:hover{
    background:var(--springMaroon);
    color: #1a1a1a
}
/* End Button CSS*/

/* Start header Navbar Section CSS*/
header{
    position: fixed;
    top:0; left:0;
    z-index: 1000;
    height:100%;
    width:35rem;
    background:#1a1a1a;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
}

header .user img{
    height:17rem;
    width:17rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
    border:.7rem solid var(--springMaroon);
    margin-top: 15px;
}

header .user .name{
    font-size: 3.5rem;
    color:#fff;
}
.nickname span{
    font-size: 2.5rem;
    color:#fff;
    color:var(--springMaroon);
}

header .user .post{
    font-size: 2rem;
    color:#eee;
}

header .navbar{
    width:100%;
}

header .navbar ul{
    list-style: none;
    padding:1rem 3rem;
}


header .navbar ul li a{
    display: block;
    padding:1rem;
    margin:1.5rem 0;
    background:#333;
    color:#fff;
    font-size: 2rem;
    border-radius: 5rem;
}

header .navbar ul li a:hover{
    background:var(--springMaroon);
    color: #1a1a1a;
}

#menu{
    position: fixed;
    top:2rem; right:2rem;
    background:#333;
    color:#fff;
    cursor: pointer;
    font-size: 2.5rem;
    padding:1rem 1.5rem;
    z-index: 1000;
    display: none;
}
/* End header Navbar CSS*/

/* Home Section CSS Start*/
.home{
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding:0 15rem;
}

.home h3{
    font-size: 2.5rem;
    color:#fff;
}

.home h1{
    font-size:5rem;
    color:#fff;
}

.home h1 span{
    color:var(--springMaroon);
}

.home p{
    font-size:2rem;
    color:#eee;
    padding: 1rem 0;
}

.heading{
    text-align: center;
    margin:0 6rem;
    font-size: 4rem;
    padding:1rem;
    border-bottom: .1rem solid #fff4;
    color:#fff;
}

.heading span{
    color:var(--springMaroon);
}
/* End Home Section CSS*/

/*Start About Section CSS*/
.about .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding:1rem 0;
}

.about .row .info{
    flex:1 1 48rem;
    padding:2rem 1rem;
    padding-left: 6rem;
}

.about .row .info h3{
    font-size: 2rem;
    color:var(--springMaroon);
    padding:1rem 0;
    font-weight: normal;
}

.about .row .info h3 span{
    color:#eee;
    padding:0 .5rem;
}

.about .row .counter{
    flex:1 1 48rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.about .row .counter .box{
    width:20rem;
    background:#222;
    text-align: center;
    padding: 2rem;
    margin:2rem;
}

.about .row .counter .box span{
    font-size: 4rem;
    color:var(--springMaroon);
}

.about .row .counter .box h3{
    font-size: 2rem;
    color:#fff;
}
/* End About Section CSS */

/* Start Education Section CSS */
.education .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding:1rem 0;
    padding-left: 3rem;
}

.education .box-container .box{
    width:27rem;
    margin:4rem 1rem;
    padding-left: 4rem;
    border-left: .2rem solid #fff;
    position: relative;
}

.education .box-container .box span{
    font-size: 1.3rem;
    background:#222;
    color:#fff;
    border-radius: 5rem;
    padding:.5rem 2.5rem;
}

.education .box-container .box h3{
    font-size: 2rem;
    color:#fff;
    padding-top: 1.5rem;
}

.education .box-container .box p{
    font-size: 1.4rem;
    color:#eee;
    padding: 1rem 0;
}

.education .box-container .box i{
    position: absolute;
    top:-1.5rem; left:-2.5rem;
    height:5rem;
    width: 5rem;
    border-radius: 50%;
    line-height: 5rem;
    text-align: center;
    font-size: 2rem;
    color:#fff;
    background:var(--springMaroon);
}
/* End Education Section CSS */

/* Start Portfolio Section CSS */
.portfolio .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding:2rem 0;
}

.portfolio .box-container .box{
    height: 20rem;
    width:26rem;
    border-radius: 1rem;
    margin:2rem;
    overflow: hidden;
    cursor: pointer;
}

.portfolio .box-container .box img{
    height:100%;
    width:100%;
    object-fit: cover;
}

.portfolio .box-container .box:hover img{
    transform: scale(1.2);
}
/* End Portfolio Section CSS */

/* Start Contact Section CSS */


.contact {
    padding: 100px 0;
}

.contact .row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact .content {
    flex: 1;
    text-align: center;
}

.contact .content .title {
    font-size: 36px;
    margin-bottom: 50px;
    color: #333;
}

.contact .info {
    text-align: left;
}

.contact .info .contact-item {
    margin-bottom: 20px;
}

.contact .info .contact-item i {
    margin-right: 10px;
    font-size: 24px;
    color: #555;
}

.contact .info .contact-item p {
    font-size: 20px;
    color: #333;
}

.contact .info .contact-item p a {
    color: #333;
    text-decoration: none;
}

.contact .info .contact-item p a:hover {
    color: #555;
    text-decoration: underline;
}

.contact .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.contact .row .content{
    flex:1 1 30rem;
    padding:4rem;
    padding-bottom: 0;
}

.contact .row form{
    flex:1 1 45rem;
    padding:2rem;
    margin:2rem;
    margin-bottom: 4rem;
}

.contact .row form .box{
    padding:1.5rem;
    margin:1rem 0;
    background:#3333;
    color:#fff;
    text-transform: none;
    font-size: 1.7rem;
    width:100%;
}

.contact .row form .box::placeholder{
    text-transform: capitalize;
}

.contact .row form .message{
    height: 15rem;
    resize: none;
}

.contact .row .content .title{
    text-transform: uppercase;
    color:#fff;
    font-size: 3rem;
    padding-bottom: 2rem;
}

.contact .row .content .info h3{
    display: flex;
    align-items: center;
    font-size: 2rem;
    color:#eee;
    padding:1rem 0;
    font-weight: normal;
}

.contact .row .content .info h3.lower{
    text-transform: lowercase;
}

.contact .row .content .info h3 i{
    padding-right: 1rem;
    color:var(--springMaroon);
}
/* End Contact Section CSS */

/* Scroll For Top CSS */
.top{
    position: fixed;
    bottom:7.5rem; right: 2rem;
    z-index: 100;
    display: none;
}


/* Responsive media queries  */

@media (max-width:1200px){

    html{
        font-size: 55%;
    }

    .home{
        padding:1rem 4rem;
    }

}

@media (max-width:991px){

   header{
       left:-120%;
   }

   #menu{
       display: block;
   }

   header.toggle{
    left:0%;
   }

   body{
       padding:0;
   }

}

@media (max-width:768px){

    html{
        font-size: 50%;
    }
 
 }

@media (max-width:400px){

    header{
        width: 100vw;
    }

    .heading{
        margin:0 3rem;
    }

    .about .row .counter .box{
        width: 100%;
    }
 
    .education .box-container .box{
        width:100%;
    }

    .portfolio .box-container .box{
        width:100%;
    }

    .contact .row form{
        margin:3rem 0;
    }

}
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.911);
    z-index: 1;
    justify-content: center;
    align-items: center;
}
.clock{
    max-width: 550px;
    height: 300px;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    border-radius: 8px;
}
.clock h2{
    position: relative;
    display: block;
    color: #fff;
    text-align: center;
    margin: 10px 0px;
    right: 100px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.4em;
    font-size: 20px;
}
.clock .time{
    display: flex;
}
.clock .time div{
    position: relative;
    margin: 0 5px;
    -webkit-box-reflect: below 1px liner-gradient(transparent,#000);
}
.clock .time div span{
    position: relative;
    display: block;
    width: 100px;
    height: 80px;
    background: #424141;
    color: #fff;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    z-index: 10;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.4);
}
.clock .time div span:nth-child(2){
    height: 30px;
    font-size: 0.7em;
    letter-spacing: 0.2em;
    font-weight: 500;
    z-index: 9;
    box-shadow: none;
    background: #757474;
    text-transform: uppercase;
}
.clock .time div:last-child span{
    background: #db265d;
}
.clock .time div:last-child span:nth-child(2){
    background: #b14141;
}
.show-modal{
    opacity: 1;
    animation: show 1s;
    display: flex !important;
}
@keyframes show {
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}
.hide-modal{
    opacity: 0;
    animation: hide 1s;
}
@keyframes hide {
    from{
        opacity: 1;
        transform: scale(1);
    }
    to{
        opacity: 0;
        transform: scale(0);
    }
}
@media(max-width:800px){
    .modal{
        width: 95%;
    }
}
/* Styling for the button */
.btn {
    padding: 10px 20px; /* Padding inside the button */
    font-size: 16px; /* Font size */
    font-weight: bold; /* Bold font weight */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Cursor style */
    background-color:  #33faa7d0; /* Blue background color */
    color: #fff; /* Text color (white) */
    transition: background-color 0.5s ease; /* Smooth transition on hover */
}

/* Hover effect */
.btn:hover {
    background-color: rgba(31, 151, 33, 0.699); /* Darker blue on hover */
}

.btn img{
    width: 21px;
    height: 21px;
}
